<table class="table">
	<tr>
		<th>Name</th>
		<th>Username</th>
		<th>Email</th>
		<th>User Type</th>
		<th>Actions</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<% if user.isAdmin %>
				<td>Admin</td>
			<% else %>
				<td>User</td>
			<% end %>
			<td><%= link_to 'Delete', user_delete_path(u_id:user.id), method: :delete,class: 'btn btn-danger' %></td>
		</tr>
	<% end %>
</table>
