.container-fluid
	- if @friend_requests.empty?
		%p No Friend Request
	- else
		%table.table
			- @friend_requests.each do |friend_request|
				%tr
					%td
						= friend_request.name
					%td
						= link_to 'Accept', friend_request_accept_path(friend_request.target_id), method: :post
					%td
						= link_to 'Deny', friend_request_delete_path(friend_request), method: :delete
	= link_to 'Back', :back, class: 'btn btn-danger'
