<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-9">
			<a href="#" class="fa fa-youtube"></a>
			<a href="#" class="fa fa-google"></a>
			<a href="#" class="fa fa-linkedin"></a>
		</div>
		<div class="col-3 m-auto">
			<a href="#" class="p-2">News</a>
			<a href="#" class="p-2">FAQ</a>
			<a href="#" class="p-2">Contact</a>
		</div>
	</div>
</div>
