%hr
.container-fluid
	.row
		.col-9
			%a.fa.fa-youtube{href: '#'}
			%a.fa.fa-google{href: '#'}
			%a.fa.fa-linkedin{href: '#'}
		.col-3.m-auto
			%a.p-2{href: '#'} News
			%a.p-2{href: '#'} FAQ
			%a.p-2{href: '#'} Contact

	.container
		.jumbotron
			= debug(params)
