%hr
.container-fluid
	.row
		.col-9
			%a.fa.fa-youtube
			%a.fa.fa-google
			%a.fa.fa-linkedin
		.col-3.m-auto
			%a.p-2 News
			%a.p-2 FAQ
			%a.p-2 Contact

	.container
		.jumbotron
			= debug(params)
